[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = mungmun06
	email = 
	mail = mungmun06@x.acme.com
[core]
	autocrlf = true
[safe]
	directory = C:/Program Files/Git/home/runner/work/anyhow/anyhow
